accelerate
tensorboard
pymeshlab
huggingface_hub==0.25.2
diffusers==0.24.0
xformers==0.0.18
jaxtyping
omegaconf
typeguard
einops
opencv-python
imageio
matplotlib
kiui
icecream
fpsample
plyfile
open3d
numpy==1.26